@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Mountains+of+Christmas&display=swap');
/*
font-family: "Emilys Candy", serif;
font-family: "Mountains of Christmas", serif;

197BBD - honolulu blue
171A21 - rich black
EDF2EF - anti-flash white
F21B3F - red(munsell)
*/
*{
    color: #171A21;
}