@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Mountains+of+Christmas&display=swap');
/*
font-family: "Emilys Candy", serif;
font-family: "Mountains of Christmas", serif;

197BBD - honolulu blue
171A21 - rich black
EDF2EF - anti-flash white
F21B3F - red(munsell)
07BEB8 - light sea green
*/
*{
    color: #171A21;
    font-family: "Emilys Candy", serif;
}
#solid{
    background-color: #f21b3f;
}
body{
    display: flex;
    flex-direction: row;
    align-content: center;
}